nav{
    background-color: #121619;
    

    ul{
        margin-top: 0;
        padding:0;
    }
    li{
        display: inline-block;
        a{
            color: white;
        }
    }
    
    .nav-link {
        font-size: 16px;
        color:white;

        

    
    }

    .nav-link:hover{
        color:#e56953;
    }
   
}

.texto-color{
    color:#FFFF;


}
